*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background: url(/images/beach-sunset-i78770.jpg) no-repeat;
    background-size: cover;
    /* width: 100vh; */
}
.row{
    margin-top: 50px;
    text-align: center;
    justify-content:flex-start;
    color: rgba(7, 19, 24, 0.829);
}
.menu{
    padding-top: 30px;
    margin: 20px;
}
.menu>a{
    color: white;
    text-decoration: none;
    padding: 10px;
 padding-top: 0%;
}
.blog,.contact{
    float: right;
}
.fixed{
    position: fixed;
    background-color: aquamarine;
    height: 30px;
    padding-top: 5px;

}
p{
    font-size: 20px;
    padding-bottom: 50px;
    color: rgba(14, 41, 53, 0.829);
}
.main>a{
    text-decoration: none;
    color: rgb(160, 69, 76);
    font-size: 20px;
    padding: 20px;
    
}

.p-dive{
    float: left;
    /* margin-left: 50%; */
    width: 600px;
    position: fixed;
    border: 1px solid gray;
}